{% extends "shuup/front/base.jinja" %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}
{% block content_title %}
{% endblock %}

{% block content %}
    <div id="react" style="height:635px"></div>
{% endblock %}

{% block extrajs %}

    <script>
        window.props = {{props | json}};  
        window.react_mount = document.getElementById('react');
    </script>
    <script src="/static/{{component}}"></script>

{% endblock %}

